body {
    background-color: rgb(61, 57, 50);
}

h1 {
    font-size: 3em;
    padding: 1.5em 2em 0em 2em;
    color: rgb(255, 183, 73);
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    font-size: 2em;
    padding: 0em 3em 0em 3em;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
}

h3 {
    border: 2px solid rgb(255, 255, 255);
    border-radius: .2em;
    width: 10%;
    margin: auto;
    font-size: 1.5em;
    padding: .3em 1em .3em 1em;
    color: rgb(255, 252, 247);
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
}

h4 {
    padding: 1.5em 3em 0em 3em;
    color: rgb(255, 183, 73);
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
}

ul {
    padding: 0em 3em 1em 3em;
    color: rgb(255, 252, 247);
    text-align: center;
    list-style-type: none;
    font-family: sans-serif;
}

.hr {
    border-top: 2px solid rgb(255, 255, 255);
    width: 30%;
}

.hr1 {
    border-top: 2px solid rgb(255, 255, 255);
    width: 80%;
}

.hr2 {
    border-top: 2px solid rgb(255, 255, 255);
    width: 70%; 
}

.hr3 {
    border-top: 2px solid rgb(255, 255, 255);
    width: 65%; 
}

.hr4 {
    border-top: 2px solid rgb(255, 255, 255);
    width: 55%; 
}

.hr5 {
    border-top: 2px solid rgb(255, 255, 255);
    width: 45%; 
}
